
.icon-fi-rr-angle-small-left:before { content: '\e802'; } /* '' */
.icon-fi-rr-angle-small-right:before { content: '\e803'; } /* '' */
.icon-fi-rr-angle-small-up:before { content: '\e804'; } /* '' */
.icon-fi-rr-angle-up:before { content: '\e805'; } /* '' */
.icon-fi-rr-apps:before { content: '\e806'; } /* '' */
.icon-fi-rr-apps-add:before { content: '\e807'; } /* '' */
.icon-fi-rr-add:before { content: '\e808'; } /* '' */
.icon-fi-rr-align-center:before { content: '\e809'; } /* '' */
.icon-fi-rr-alarm-clock:before { content: '\e80a'; } /* '' */
.icon-fi-rr-align-justify:before { content: '\e80b'; } /* '' */
.icon-fi-rr-align-left:before { content: '\e80c'; } /* '' */
.icon-fi-rr-align-right:before { content: '\e80d'; } /* '' */
.icon-fi-rr-ambulance:before { content: '\e80e'; } /* '' */
.icon-fi-rr-angle-double-left:before { content: '\e80f'; } /* '' */
.icon-fi-rr-angle-double-right:before { content: '\e810'; } /* '' */
.icon-fi-rr-angle-double-small-left:before { content: '\e811'; } /* '' */
.icon-fi-rr-angle-double-small-right:before { content: '\e812'; } /* '' */
.icon-fi-rr-angle-down:before { content: '\e813'; } /* '' */
.icon-fi-rr-bell-school:before { content: '\e816'; } /* '' */
.icon-fi-rr-bell-ring:before { content: '\e817'; } /* '' */
.icon-fi-rr-billiard:before { content: '\e818'; } /* '' */
.icon-fi-rr-bold:before { content: '\e819'; } /* '' */
.icon-fi-rr-book:before { content: '\e81a'; } /* '' */
.icon-fi-rr-book-alt:before { content: '\e81b'; } /* '' */
.icon-fi-rr-bookmark:before { content: '\e81c'; } /* '' */
.icon-fi-rr-bowling:before { content: '\e81d'; } /* '' */
.icon-fi-rr-box:before { content: '\e81e'; } /* '' */
.icon-fi-rr-box-alt:before { content: '\e81f'; } /* '' */
.icon-fi-rr-briefcase:before { content: '\e820'; } /* '' */
.icon-fi-rr-broom:before { content: '\e821'; } /* '' */
.icon-fi-rr-apps-delete:before { content: '\e822'; } /* '' */
.icon-fi-rr-apps-sort:before { content: '\e823'; } /* '' */
.icon-fi-rr-archive:before { content: '\e824'; } /* '' */
.icon-fi-rr-arrow-down:before { content: '\e825'; } /* '' */
.icon-fi-rr-arrow-left:before { content: '\e826'; } /* '' */
.icon-fi-rr-arrow-right:before { content: '\e827'; } /* '' */
.icon-fi-rr-arrow-small-down:before { content: '\e828'; } /* '' */
.icon-fi-rr-arrow-small-left:before { content: '\e829'; } /* '' */
.icon-fi-rr-arrow-small-right:before { content: '\e82a'; } /* '' */
.icon-fi-rr-arrow-small-up:before { content: '\e82b'; } /* '' */
.icon-fi-rr-arrow-up:before { content: '\e82c'; } /* '' */
.icon-fi-rr-asterisk:before { content: '\e82d'; } /* '' */
.icon-fi-rr-backpack:before { content: '\e82e'; } /* '' */
.icon-fi-rr-badge:before { content: '\e82f'; } /* '' */
.icon-fi-rr-ban:before { content: '\e830'; } /* '' */
.icon-fi-rr-band-aid:before { content: '\e831'; } /* '' */
.icon-fi-rr-bank:before { content: '\e832'; } /* '' */
.icon-fi-rr-barber-shop:before { content: '\e833'; } /* '' */
.icon-fi-rr-baseball:before { content: '\e834'; } /* '' */
.icon-fi-rr-basketball:before { content: '\e835'; } /* '' */
.icon-fi-rr-cloud:before { content: '\e836'; } /* '' */
.icon-fi-rr-cloud-check:before { content: '\e837'; } /* '' */
.icon-fi-rr-cloud-disabled:before { content: '\e838'; } /* '' */
.icon-fi-rr-cloud-download:before { content: '\e839'; } /* '' */
.icon-fi-rr-cloud-share:before { content: '\e83a'; } /* '' */
.icon-fi-rr-cloud-upload:before { content: '\e83b'; } /* '' */
.icon-fi-rr-comment:before { content: '\e83c'; } /* '' */
.icon-fi-rr-comment-alt:before { content: '\e83d'; } /* '' */
.icon-fi-rr-compress:before { content: '\e83e'; } /* '' */
.icon-fi-rr-compress-alt:before { content: '\e83f'; } /* '' */
.icon-fi-rr-computer:before { content: '\e840'; } /* '' */
.icon-fi-rr-cookie:before { content: '\e841'; } /* '' */
.icon-fi-rr-copy:before { content: '\e842'; } /* '' */
.icon-fi-rr-browser:before { content: '\e843'; } /* '' */
.icon-fi-rr-brush:before { content: '\e844'; } /* '' */
.icon-fi-rr-building:before { content: '\e845'; } /* '' */
.icon-fi-rr-bug:before { content: '\e846'; } /* '' */
.icon-fi-rr-bulb:before { content: '\e847'; } /* '' */
.icon-fi-rr-calculator:before { content: '\e848'; } /* '' */
.icon-fi-rr-calendar:before { content: '\e849'; } /* '' */
.icon-fi-rr-camera:before { content: '\e84a'; } /* '' */
.icon-fi-rr-caret-down:before { content: '\e84b'; } /* '' */
.icon-fi-rr-caret-left:before { content: '\e84c'; } /* '' */
.icon-fi-rr-caret-right:before { content: '\e84d'; } /* '' */
.icon-fi-rr-caret-up:before { content: '\e84e'; } /* '' */
.icon-fi-rr-check:before { content: '\e84f'; } /* '' */
.icon-fi-rr-checkbox:before { content: '\e850'; } /* '' */
.icon-fi-rr-chess:before { content: '\e851'; } /* '' */
.icon-fi-rr-circle:before { content: '\e852'; } /* '' */
.icon-fi-rr-circle-small:before { content: '\e853'; } /* '' */
.icon-fi-rr-clip:before { content: '\e854'; } /* '' */
.icon-fi-rr-clock:before { content: '\e855'; } /* '' */
.icon-fi-rr-database:before { content: '\e856'; } /* '' */
.icon-fi-rr-data-transfer:before { content: '\e857'; } /* '' */
.icon-fi-rr-delete:before { content: '\e858'; } /* '' */
.icon-fi-rr-diamond:before { content: '\e859'; } /* '' */
.icon-fi-rr-dice:before { content: '\e85a'; } /* '' */
.icon-fi-rr-diploma:before { content: '\e85b'; } /* '' */
.icon-fi-rr-disk:before { content: '\e85c'; } /* '' */
.icon-fi-rr-document:before { content: '\e85d'; } /* '' */
.icon-fi-rr-doctor:before { content: '\e85e'; } /* '' */
.icon-fi-rr-document-signed:before { content: '\e85f'; } /* '' */
.icon-fi-rr-dollar:before { content: '\e860'; } /* '' */
.icon-fi-rr-download:before { content: '\e861'; } /* '' */
.icon-fi-rr-duplicate:before { content: '\e862'; } /* '' */
.icon-fi-rr-earnings:before { content: '\e863'; } /* '' */
.icon-fi-rr-edit:before { content: '\e864'; } /* '' */
.icon-fi-rr-edit-alt:before { content: '\e865'; } /* '' */
.icon-fi-rr-e-learning:before { content: '\e866'; } /* '' */
.icon-fi-rr-envelope:before { content: '\e867'; } /* '' */
.icon-fi-rr-copy-alt:before { content: '\e868'; } /* '' */
.icon-fi-rr-copyright:before { content: '\e869'; } /* '' */
.icon-fi-rr-cream:before { content: '\e86a'; } /* '' */
.icon-fi-rr-credit-card:before { content: '\e86b'; } /* '' */
.icon-fi-rr-cross:before { content: '\e86c'; } /* '' */
.icon-fi-rr-cross-circle:before { content: '\e86d'; } /* '' */
.icon-fi-rr-crown:before { content: '\e86e'; } /* '' */
.icon-fi-rr-cross-small:before { content: '\e86f'; } /* '' */
.icon-fi-rr-cursor:before { content: '\e870'; } /* '' */
.icon-fi-rr-cursor-finger:before { content: '\e871'; } /* '' */
.icon-fi-rr-cursor-plus:before { content: '\e872'; } /* '' */
.icon-fi-rr-cursor-text:before { content: '\e873'; } /* '' */
.icon-fi-rr-cursor-text-alt:before { content: '\e874'; } /* '' */
.icon-fi-rr-dart:before { content: '\e875'; } /* '' */
.icon-fi-rr-dashboard:before { content: '\e876'; } /* '' */
.icon-fi-rr-film:before { content: '\e877'; } /* '' */
.icon-fi-rr-filter:before { content: '\e878'; } /* '' */
.icon-fi-rr-fingerprint:before { content: '\e879'; } /* '' */
.icon-fi-rr-flag:before { content: '\e87a'; } /* '' */
.icon-fi-rr-flame:before { content: '\e87b'; } /* '' */
.icon-fi-rr-flip-horizontal:before { content: '\e87c'; } /* '' */
.icon-fi-rr-folder:before { content: '\e87d'; } /* '' */
.icon-fi-rr-folder-add:before { content: '\e87e'; } /* '' */
.icon-fi-rr-following:before { content: '\e87f'; } /* '' */
.icon-fi-rr-football:before { content: '\e880'; } /* '' */
.icon-fi-rr-form:before { content: '\e881'; } /* '' */
.icon-fi-rr-forward:before { content: '\e882'; } /* '' */
.icon-fi-rr-ftp:before { content: '\e883'; } /* '' */
.icon-fi-rr-gallery:before { content: '\e884'; } /* '' */
.icon-fi-rr-glasses:before { content: '\e885'; } /* '' */
.icon-fi-rr-euro:before { content: '\e886'; } /* '' */
.icon-fi-rr-exclamation:before { content: '\e887'; } /* '' */
.icon-fi-rr-expand:before { content: '\e888'; } /* '' */
.icon-fi-rr-eye:before { content: '\e889'; } /* '' */
.icon-fi-rr-eye-crossed:before { content: '\e88a'; } /* '' */
.icon-fi-rr-eye-dropper:before { content: '\e88b'; } /* '' */
.icon-fi-rr-feather:before { content: '\e88c'; } /* '' */
.icon-fi-rr-file:before { content: '\e88d'; } /* '' */
.icon-fi-rr-file-add:before { content: '\e88e'; } /* '' */
.icon-fi-rr-file-ai:before { content: '\e88f'; } /* '' */
.icon-fi-rr-file-check:before { content: '\e890'; } /* '' */
.icon-fi-rr-file-delete:before { content: '\e891'; } /* '' */
.icon-fi-rr-file-eps:before { content: '\e892'; } /* '' */
.icon-fi-rr-file-gif:before { content: '\e893'; } /* '' */
.icon-fi-rr-file-music:before { content: '\e894'; } /* '' */
.icon-fi-rr-fill:before { content: '\e895'; } /* '' */
.icon-fi-rr-file-psd:before { content: '\e896'; } /* '' */
.icon-fi-rr-indent:before { content: '\e897'; } /* '' */
.icon-fi-rr-infinity:before { content: '\e898'; } /* '' */
.icon-fi-rr-info:before { content: '\e899'; } /* '' */
.icon-fi-rr-interactive:before { content: '\e89a'; } /* '' */
.icon-fi-rr-interlining:before { content: '\e89b'; } /* '' */
.icon-fi-rr-interrogation:before { content: '\e89c'; } /* '' */
.icon-fi-rr-italic:before { content: '\e89d'; } /* '' */
.icon-fi-rr-jpg:before { content: '\e89e'; } /* '' */
.icon-fi-rr-key:before { content: '\e89f'; } /* '' */
.icon-fi-rr-keyboard:before { content: '\e8a0'; } /* '' */
.icon-fi-rr-label:before { content: '\e8a1'; } /* '' */
.icon-fi-rr-laptop:before { content: '\e8a2'; } /* '' */
.icon-fi-rr-lasso:before { content: '\e8a3'; } /* '' */
.icon-fi-rr-layers:before { content: '\e8a4'; } /* '' */
.icon-fi-rr-globe:before { content: '\e8a5'; } /* '' */
.icon-fi-rr-globe-alt:before { content: '\e8a6'; } /* '' */
.icon-fi-rr-golf:before { content: '\e8a7'; } /* '' */
.icon-fi-rr-graduation-cap:before { content: '\e8a8'; } /* '' */
.icon-fi-rr-graphic-tablet:before { content: '\e8a9'; } /* '' */
.icon-fi-rr-grid:before { content: '\e8aa'; } /* '' */
.icon-fi-rr-grid-alt:before { content: '\e8ab'; } /* '' */
.icon-fi-rr-gym:before { content: '\e8ac'; } /* '' */
.icon-fi-rr-headphones:before { content: '\e8ad'; } /* '' */
.icon-fi-rr-headset:before { content: '\e8ae'; } /* '' */
.icon-fi-rr-heart:before { content: '\e8af'; } /* '' */
.icon-fi-rr-home:before { content: '\e8b0'; } /* '' */
.icon-fi-rr-hourglass:before { content: '\e8b1'; } /* '' */
.icon-fi-rr-hourglass-end:before { content: '\e8b2'; } /* '' */
.icon-fi-rr-ice-skate:before { content: '\e8b3'; } /* '' */
.icon-fi-rr-id-badge:before { content: '\e8b4'; } /* '' */
.icon-fi-rr-inbox:before { content: '\e8b5'; } /* '' */
.icon-fi-rr-incognito:before { content: '\e8b6'; } /* '' */
.icon-fi-rr-mobile:before { content: '\e8b7'; } /* '' */
.icon-fi-rr-mode-landscape:before { content: '\e8b8'; } /* '' */
.icon-fi-rr-mode-portrait:before { content: '\e8b9'; } /* '' */
.icon-fi-rr-money:before { content: '\e8ba'; } /* '' */
.icon-fi-rr-mouse:before { content: '\e8bb'; } /* '' */
.icon-fi-rr-music:before { content: '\e8bc'; } /* '' */
.icon-fi-rr-music-alt:before { content: '\e8bd'; } /* '' */
.icon-fi-rr-network:before { content: '\e8be'; } /* '' */
.icon-fi-rr-network-cloud:before { content: '\e8bf'; } /* '' */
.icon-fi-rr-notebook:before { content: '\e8c0'; } /* '' */
.icon-fi-rr-layout-fluid:before { content: '\e8c1'; } /* '' */
.icon-fi-rr-letter-case:before { content: '\e8c2'; } /* '' */
.icon-fi-rr-life-ring:before { content: '\e8c3'; } /* '' */
.icon-fi-rr-line-width:before { content: '\e8c4'; } /* '' */
.icon-fi-rr-link:before { content: '\e8c5'; } /* '' */
.icon-fi-rr-lipstick:before { content: '\e8c6'; } /* '' */
.icon-fi-rr-list:before { content: '\e8c7'; } /* '' */
.icon-fi-rr-list-check:before { content: '\e8c8'; } /* '' */
.icon-fi-rr-location-alt:before { content: '\e8c9'; } /* '' */
.icon-fi-rr-lock:before { content: '\e8ca'; } /* '' */
.icon-fi-rr-lock-alt:before { content: '\e8cb'; } /* '' */
.icon-fi-rr-magic-wand:before { content: '\e8cc'; } /* '' */
.icon-fi-rr-makeup-brush:before { content: '\e8cd'; } /* '' */
.icon-fi-rr-marker:before { content: '\e8ce'; } /* '' */
.icon-fi-rr-marker-time:before { content: '\e8cf'; } /* '' */
.icon-fi-rr-megaphone:before { content: '\e8d0'; } /* '' */
.icon-fi-rr-medicine:before { content: '\e8d1'; } /* '' */
.icon-fi-rr-menu-burger:before { content: '\e8d2'; } /* '' */
.icon-fi-rr-menu-dots:before { content: '\e8d3'; } /* '' */
.icon-fi-rr-menu-dots-vertical:before { content: '\e8d4'; } /* '' */
.icon-fi-rr-microphone:before { content: '\e8d5'; } /* '' */
.icon-fi-rr-minus:before { content: '\e8d6'; } /* '' */
.icon-fi-rr-minus-small:before { content: '\e8d7'; } /* '' */
.icon-fi-rr-users:before { content: '\e8d8'; } /* '' */
.icon-fi-rr-user-time:before { content: '\e8d9'; } /* '' */
.icon-fi-rr-vector:before { content: '\e8da'; } /* '' */
.icon-fi-rr-vector-alt:before { content: '\e8db'; } /* '' */
.icon-fi-rr-video-camera:before { content: '\e8dc'; } /* '' */
.icon-fi-rr-volleyball:before { content: '\e8dd'; } /* '' */
.icon-fi-rr-volume:before { content: '\e8de'; } /* '' */
.icon-fi-rr-wifi-alt:before { content: '\e8df'; } /* '' */
.icon-fi-rr-world:before { content: '\e8e0'; } /* '' */
.icon-fi-rr-yen:before { content: '\e8e1'; } /* '' */
.icon-fi-rr-zoom-in:before { content: '\e8e2'; } /* '' */
.icon-fi-rr-zoom-out:before { content: '\e8e3'; } /* '' */
.icon-fi-rr-opacity:before { content: '\e8e4'; } /* '' */
.icon-fi-rr-package:before { content: '\e8e5'; } /* '' */
.icon-fi-rr-paint-brush:before { content: '\e8e6'; } /* '' */
.icon-fi-rr-palette:before { content: '\e8e7'; } /* '' */
.icon-fi-rr-paper-plane:before { content: '\e8e8'; } /* '' */
.icon-fi-rr-password:before { content: '\e8e9'; } /* '' */
.icon-fi-rr-pause:before { content: '\e8ea'; } /* '' */
.icon-fi-rr-pencil:before { content: '\e8eb'; } /* '' */
.icon-fi-rr-pharmacy:before { content: '\e8ec'; } /* '' */
.icon-fi-rr-physics:before { content: '\e8ed'; } /* '' */
.icon-fi-rr-picture:before { content: '\e8ee'; } /* '' */
.icon-fi-rr-ping-pong:before { content: '\e8ef'; } /* '' */
.icon-fi-rr-play:before { content: '\e8f0'; } /* '' */
.icon-fi-rr-play-alt:before { content: '\e8f1'; } /* '' */
.icon-fi-rr-playing-cards:before { content: '\e8f2'; } /* '' */
.icon-fi-rr-plus:before { content: '\e8f3'; } /* '' */
.icon-fi-rr-plus-small:before { content: '\e8f4'; } /* '' */
.icon-fi-rr-poker-chip:before { content: '\e8f5'; } /* '' */
.icon-fi-rr-portrait:before { content: '\e8f6'; } /* '' */
.icon-fi-rr-pound:before { content: '\e8f7'; } /* '' */
.icon-fi-rr-power:before { content: '\e8f8'; } /* '' */
.icon-fi-rr-presentation:before { content: '\e8f9'; } /* '' */
.icon-fi-rr-print:before { content: '\e8fa'; } /* '' */
.icon-fi-rr-protractor:before { content: '\e8fb'; } /* '' */
.icon-fi-rr-pulse:before { content: '\e8fc'; } /* '' */
.icon-fi-rr-quote-right:before { content: '\e8fd'; } /* '' */
.icon-fi-rr-rec:before { content: '\e8fe'; } /* '' */
.icon-fi-rr-receipt:before { content: '\e8ff'; } /* '' */
.icon-fi-rr-rectangle-horizontal:before { content: '\e900'; } /* '' */
.icon-fi-rr-rectangle-panoramic:before { content: '\e901'; } /* '' */
.icon-fi-rr-redo:before { content: '\e902'; } /* '' */
.icon-fi-rr-rectangle-vertical:before { content: '\e903'; } /* '' */
.icon-fi-rr-reflect:before { content: '\e904'; } /* '' */
.icon-fi-rr-refresh:before { content: '\e905'; } /* '' */
.icon-fi-rr-resize:before { content: '\e906'; } /* '' */
.icon-fi-rr-resources:before { content: '\e907'; } /* '' */
.icon-fi-rr-rewind:before { content: '\e908'; } /* '' */
.icon-fi-rr-rocket:before { content: '\e909'; } /* '' */
.icon-fi-rr-rotate-right:before { content: '\e90a'; } /* '' */
.icon-fi-rr-rugby:before { content: '\e90b'; } /* '' */
.icon-fi-rr-scale:before { content: '\e90c'; } /* '' */
.icon-fi-rr-school:before { content: '\e90d'; } /* '' */
.icon-fi-rr-school-bus:before { content: '\e90e'; } /* '' */
.icon-fi-rr-scissors:before { content: '\e90f'; } /* '' */
.icon-fi-rr-screen:before { content: '\e910'; } /* '' */
.icon-fi-rr-search:before { content: '\e911'; } /* '' */
.icon-fi-rr-search-alt:before { content: '\e912'; } /* '' */
.icon-fi-rr-settings:before { content: '\e913'; } /* '' */
.icon-fi-rr-settings-sliders:before { content: '\e914'; } /* '' */
.icon-fi-rr-share:before { content: '\e915'; } /* '' */
.icon-fi-rr-shield:before { content: '\e916'; } /* '' */
.icon-fi-rr-shield-check:before { content: '\e917'; } /* '' */
.icon-fi-rr-shield-exclamation:before { content: '\e918'; } /* '' */
.icon-fi-rr-shield-interrogation:before { content: '\e919'; } /* '' */
.icon-fi-rr-shield-plus:before { content: '\e91a'; } /* '' */
.icon-fi-rr-shop:before { content: '\e91b'; } /* '' */
.icon-fi-rr-shopping-bag:before { content: '\e91c'; } /* '' */
.icon-fi-rr-shopping-bag-add:before { content: '\e91d'; } /* '' */
.icon-fi-rr-shopping-cart:before { content: '\e91e'; } /* '' */
.icon-fi-rr-shopping-cart-add:before { content: '\e91f'; } /* '' */
.icon-fi-rr-shopping-cart-check:before { content: '\e920'; } /* '' */
.icon-fi-rr-shuffle:before { content: '\e921'; } /* '' */
.icon-fi-rr-signal-alt:before { content: '\e922'; } /* '' */
.icon-fi-rr-signal-alt-1:before { content: '\e923'; } /* '' */
.icon-fi-rr-signal-alt-2:before { content: '\e924'; } /* '' */
.icon-fi-rr-sign-in:before { content: '\e925'; } /* '' */
.icon-fi-rr-sign-out:before { content: '\e926'; } /* '' */
.icon-fi-rr-skateboard:before { content: '\e927'; } /* '' */
.icon-fi-rr-smartphone:before { content: '\e928'; } /* '' */
.icon-fi-rr-soap:before { content: '\e929'; } /* '' */
.icon-fi-rr-spa:before { content: '\e92a'; } /* '' */
.icon-fi-rr-speaker:before { content: '\e92b'; } /* '' */
.icon-fi-rr-spinner:before { content: '\e92c'; } /* '' */
.icon-fi-rr-spinner-alt:before { content: '\e92d'; } /* '' */
.icon-fi-rr-square:before { content: '\e92e'; } /* '' */
.icon-fi-rr-square-root:before { content: '\e92f'; } /* '' */
.icon-fi-rr-star:before { content: '\e930'; } /* '' */
.icon-fi-rr-stats:before { content: '\e931'; } /* '' */
.icon-fi-rr-stethoscope:before { content: '\e932'; } /* '' */
.icon-fi-rr-sticker:before { content: '\e933'; } /* '' */
.icon-fi-rr-stop:before { content: '\e934'; } /* '' */
.icon-fi-rr-stopwatch:before { content: '\e935'; } /* '' */
.icon-fi-rr-subtitles:before { content: '\e936'; } /* '' */
.icon-fi-rr-surfing:before { content: '\e937'; } /* '' */
.icon-fi-rr-sword:before { content: '\e938'; } /* '' */
.icon-fi-rr-syringe:before { content: '\e939'; } /* '' */
.icon-fi-rr-target:before { content: '\e93a'; } /* '' */
.icon-fi-rr-tablet:before { content: '\e93b'; } /* '' */
.icon-fi-rr-tennis:before { content: '\e93c'; } /* '' */
.icon-fi-rr-test:before { content: '\e93d'; } /* '' */
.icon-fi-rr-test-tube:before { content: '\e93e'; } /* '' */
.icon-fi-rr-text:before { content: '\e93f'; } /* '' */
.icon-fi-rr-text-check:before { content: '\e940'; } /* '' */
.icon-fi-rr-thumbs-down:before { content: '\e941'; } /* '' */
.icon-fi-rr-thumbs-up:before { content: '\e942'; } /* '' */
.icon-fi-rr-ticket:before { content: '\e943'; } /* '' */
.icon-fi-rr-time-add:before { content: '\e944'; } /* '' */
.icon-fi-rr-time-check:before { content: '\e945'; } /* '' */
.icon-fi-rr-time-delete:before { content: '\e946'; } /* '' */
.icon-fi-rr-time-fast:before { content: '\e947'; } /* '' */
.icon-fi-rr-time-forward:before { content: '\e948'; } /* '' */
.icon-fi-rr-time-forward-sixty:before { content: '\e949'; } /* '' */
.icon-fi-rr-time-forward-ten:before { content: '\e94a'; } /* '' */
.icon-fi-rr-time-half-past:before { content: '\e94b'; } /* '' */
.icon-fi-rr-time-oclock:before { content: '\e94c'; } /* '' */
.icon-fi-rr-time-past:before { content: '\e94d'; } /* '' */
.icon-fi-rr-time-quarter-past:before { content: '\e94e'; } /* '' */
.icon-fi-rr-time-quarter-to:before { content: '\e94f'; } /* '' */
.icon-fi-rr-time-twenty-four:before { content: '\e950'; } /* '' */
.icon-fi-rr-tool-crop:before { content: '\e951'; } /* '' */
.icon-fi-rr-tool-marquee:before { content: '\e952'; } /* '' */
.icon-fi-rr-tooth:before { content: '\e953'; } /* '' */
.icon-fi-rr-transform:before { content: '\e954'; } /* '' */
.icon-fi-rr-trash:before { content: '\e955'; } /* '' */
.icon-fi-rr-treatment:before { content: '\e956'; } /* '' */
.icon-fi-rr-trophy:before { content: '\e957'; } /* '' */
.icon-fi-rr-umbrella:before { content: '\e958'; } /* '' */
.icon-fi-rr-underline:before { content: '\e959'; } /* '' */
.icon-fi-rr-undo:before { content: '\e95a'; } /* '' */
.icon-fi-rr-unlock:before { content: '\e95b'; } /* '' */
.icon-fi-rr-upload:before { content: '\e95c'; } /* '' */
.icon-fi-rr-usb-drive:before { content: '\e95d'; } /* '' */
.icon-fi-rr-user:before { content: '\e95e'; } /* '' */
.icon-fi-rr-user-add:before { content: '\e95f'; } /* '' */
.icon-fi-rr-user-delete:before { content: '\e960'; } /* '' */
.icon-fi-rr-user-remove:before { content: '\e961'; } /* '' */